<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>激活邮箱</title>
</head>
<body>
<div>
    <p>
        <span>您好，恭喜成为战矛圈第</span>
        <span th:text="${userId}"></span>
        <span>位会员，这是一封验证邮件，请点击下面的链接完成注册！</span>
    </p>
    <a href="#" th:href="@{http://106.15.181.179/api/auth/activation/(key=${key})}">点击链接，若无法点击，复制下方链接进入游览器访问</a>
    <br>
    <p>
        http://106.15.181.179/api/auth/activation/?key=<span th:text="${key}"></span>
    </p>
    <p>
        激活成功后请退出后重新登录以刷新凭证
    </p>
</div>

</body>
<style>
    html, body {
        background-color: #fafafa;
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: #2c3e50;
    }
</style>
</html>
